
/* Google font */
@import url('https://fonts.googleapis.com/css?family=Raleway');

body {

  font-family: 'Raleway', Arial, sans-serif !important;

}

/* make buttons to bounce on hover */
.btn--control:hover {

  cursor: pointer;
  transform: scale(1.3);

}

/* make card animation faster (default duration is 1 second) */
#main-card {

          animation-duration: 300ms;
  -webkit-animation-duration: 300ms;
     -moz-animation-duration: 300ms;
      -ms-animation-duration: 300ms;

}

/* fix cat image size */
#main-card-img {

  max-width: 300px;
  max-height: 250px;

}

/* this media rule follows the bootstrap grid options -md-: 768 */
@media (min-width: 768px) {

  #main-card-img {

    max-width: 500px;
    max-height: 350px;

  }

}
